<!-- Written by Gabriel Brown -->

<!DOCTYPE html>
<html>
<head>
    <title>Choose and fill in your message template</title>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
</head>
<body>

    <span>Select a guest: </span>
    <select id="guest_selection">
        
        {% for guest in guests.keys() %}
        <option value="{{guests[guest].id}}">{{guests[guest].firstName}} {{guests[guest].lastName}}</option>
        {% endfor %}

    </select>
    <br/>

    <span>Select a company: </span>
    <select id="company_selection">

        {% for company in companies.keys() %}
        <option value="{{companies[company].id}}">{{companies[company].name}}</option>
        {% endfor %}
        
    </select>
    <br/>

    <span>Select a message template: </span>
    <select id="template_selection">

        {% for id in templates.keys() %}
        <option value="{{id}}">{{id}}</option>
        {% endfor %}
        
    </select>
    <br/>

    <p id="message"></p>

    <p>Create a new template below.</p>
    <p>Simply type a message as you would normally, but in any place where you want to fill in information, as shown in the examples below, please write that in all capital letters and seperate it from other parts of the sentence with either punctuation or spaces.</p>
    <ul>
        <li>"FIRSTNAME" = first name of guest</li>
        <li>"LASTNAME" = last name of guest</li>
        <li>"COMPANYNAME = name of company"</li>
        <li>"ROOMNUMBER" = the room number for a particular guest's reservation</li>
        <li>"CITY" = the city the company is located in</li>
        <li>"TIMEZONE" = the timezone the company is located in</li>
    </ul>
    <textarea>
        
    </textarea>

</body>

<script type="text/javascript">
    
    $("select").change(function() {

        //alert("Guest, company or template changed");

        guestID = $("#guest_selection").val();
        companyID = $("#company_selection").val();
        templateID = $("#template_selection").val();

        console.log(guestID);
        console.log(companyID);
        console.log(templateID);

        $.ajax({

            method: "GET",
            url: "/create_message?guestID=" + guestID + "&companyID=" + companyID + "&templateID=" + templateID,
            success: function(response) {

                // TODO: set #message content to be equal to response
                $("#message").text(response);
                //console.log(response);
            }

        });

        
    });

</script>


</html>