<!-- Written by Gabriel Brown -->

<!DOCTYPE html>
<html>
<head>
    <title>Choose and fill in your message template</title>
    <script
      src="https://code.jquery.com/jquery-3.3.1.min.js"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
      crossorigin="anonymous">
    </script>
</head>
<body>

    <span>Select a guest: </span>
    <select id="guest_selection">
        
        {% for guest in guests.keys() %}
        <option value="{{guests[guest].id}}">{{guests[guest].firstName}} {{guests[guest].lastName}}</option>
        {% endfor %}

    </select>
    <br/>

    <span>Select a company: </span>
    <select id="company_selection">

        {% for company in companies.keys() %}
        <option value="{{companies[company].id}}">{{companies[company].name}}</option>
        {% endfor %}
        
    </select>
    <br/>

    <span>Select a message template: </span>
    <select id="template_selection">

        {% for id in templates.keys() %}
        <option value="{{id}}">{{id}}</option>
        {% endfor %}
        
    </select>
    <br/>

    <p id="message"></p>

</body>

<script type="text/javascript">
    
    $("select").change(function() {

        //alert("Guest, company or template changed");

        guestID = $("#guest_selection").val();
        companyID = $("#company_selection").val();
        templateID = $("#template_selection").val();

        console.log(guestID);
        console.log(companyID);
        console.log(templateID);

        $.ajax({

            method: "GET",
            url: "/create_message?guestID=" + guestID + "&companyID=" + companyID + "&templateID=" + templateID,
            success: function(response) {

                // TODO: set #message content to be equal to response
                $("#message").text(response);
                //console.log(response);
            }

        });

        
    });

</script>


</html>